<div class="row">
	<div class="large-12 columns">
	<form name="searchForm" novalidate ng-submit="searchCtrl.doSearch(0)">
		<div class="row collapse">
			<div class="medium-4 columns">
				<input maxlength="50" pattern="[\w\s.]+" ng-model="searchCtrl.search.text" required="required"
				autofocus="autofocus"
				placeholder="Type text to search">
			</div>
			<div class="medium-1 columns">
				<input type="submit" value="Search" class=" button postfix"
				ng-disabled="searchForm.$invalid">
			</div>
			<div class="medium-7 columns"></div>
		</div>
	</form>
	</div>
	
	<div class="large-12 columns">
		<div class=row>
			<ul class="pagination" ng-show="searchCtrl.page.totalPages > 1">
			  <li class="arrow" ng-class="{unavailable:searchCtrl.page.first}">
			  	<a href="" ng-click="searchCtrl.doSearch(0)">&laquo;First</a>
			  </li>
			  
			  <li ng-repeat="n in searchCtrl.currentPages" 
			  	ng-class="{current : searchCtrl.page.number+1 == n}">
			  	<a href="" ng-click="searchCtrl.doSearch(n-1)">{{n}}</a>
			  </li>
			  
			  <li class="arrow" ng-class="{unavailable:searchCtrl.page.last}">
			  	<a href="" ng-click="searchCtrl.doSearch(searchCtrl.page.totalPages-1)">Last&raquo;</a>
			  </li>
			  
			  <li class="right">Page: {{searchCtrl.page.number+1}} of {{searchCtrl.page.totalPages}}</li>
			</ul>
		</div>
		<div class="large-12 row">
			<div class="large-6 medium-12 small-12 columns panel"
			ng-repeat="study in searchCtrl.page.content"
			ng-init="tab = 1">
				<div>
					<strong>{{study.name}}</strong>
				</div>
				<div ng-show="tab === 1" class="fade">
					<a class="fi-list-bullet" ng-click="searchCtrl.seeSettings(study.extras)">Study Settings</a>
					<a class="fi-page-multiple right" ng-click="searchCtrl.seeOccurrences(study.id)">Occurrences</a>
					<div>
						<div><strong>Type:</strong> {{study.studyType}}</div>
						<div><strong>Description:</strong> {{study.description}}</div>
						<div><strong>Objective:</strong> {{study.objective}}</div>
						<div><strong>Start Date:</strong> {{study.startDate}}</div>
						<div><strong>End Date:</strong> {{study.endDate}}</div>
					</div>
				</div>
				<div ng-show="tab === 2" class="fade">
					<a class="fi-book" ng-click="searchCtrl.seeGeneral()" id="linkGeneral">General Info</a>
					<a class="fi-page-multiple right" ng-click="searchCtrl.seeOccurrences(study.id)">Occurrences</a>
					<div>
						<div ng-repeat="(key,value) in study.extras"><strong>{{searchCtrl.studyProps[key]}}:</strong> {{value}}</div>
					</div>
				</div>
				<div ng-show="tab === 3" class="fade">
					<a class="fi-list-bullet" ng-click="searchCtrl.seeSettings(study.extras)">Study Settings</a>
					<a class="fi-book right" ng-click="searchCtrl.seeGeneral()" id="linkGeneral">General Info</a>
					<ul class="accordion">
						<li ng-repeat="occ in searchCtrl.occPage.content" 
						class="accordion-navigation">
							<a ng-href="#panel1"><strong>Occurence:</strong>
								 <span class="[ success round radius] label">{{occ.number}}</span>
								 <span class="label">{{occ.name}}</span></a>
							<div id="panel1" class="panel">
								<div><strong>Abbreviation:</strong> {{occ.abbreviation}}</div>
								<div><strong>New Cycle:</strong> {{occ.newCycle}}</div>
								<div><strong>Design:</strong> {{occ.design}}</div>
								<div><strong>Replicates:</strong> {{occ.numRep}}</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
