.panel.scroll {
	overflow: scroll;
}

/* .boxed { */
/* 	height: 250px; */
/* } */
/* .boxed .panel { */
/* 	height: 180px; */
/* } */

/* The starting CSS styles for the enter animation */
.fade{
	opacity:1;
}

.fade.ng-hide {
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-hide-add{
  transition: all linear 0s;
}

.fade.ng-hide-remove {
  transition: all linear 0.5s;
}
